@charset "UTF-8";
/* CSS Document */

.mark-in-popin .description {
    padding-bottom: .125em;
    padding-left: .5em !important;
    padding-right: .5em;
    padding-top: 0;
    text-transform: none;
}

.collection-navigation-right span.checkmark {
    float: right;
    padding: 1.1em 1.3125em .75em .75em !important;
    background-image: url(../images/css/success_msg_icon.png);
    background-repeat: no-repeat;
    background-position: 0 bottom;
}